@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}


<div class="row justify-content-center">  
    <div class="col-md-4  text-center">
        <section>
            <img class="background-image mb-4" src="~/img/cropped-2Jours-Logo-vierkant-192x192.jpg" alt="" width="72" height="72">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Maak een nieuw account</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="Voornaam" />
                        <label asp-for="Input.FirstName">Voornaam</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="Achternaam" />
                        <label asp-for="Input.LastName">Achternaam</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Wachtwoord" />
                <label asp-for="Input.Password">Wachtwoord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Wachtwoord" />
                <label asp-for="Input.ConfirmPassword">Bevestig wachtwoord</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registeren</button>
            <div style="margin-top:10px">
                @*  <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p> *@
                <p>
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Al een account? Log in! </a>
                </p>
            </div>
        </form>
    </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
