@using LoginApplication2Jours.Areas.Identity.Data;
@{
    ViewData["Title"] = "Home Page";
    
}


@model List<User>

<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-black rounded box-shadow">
        <img class="mr-3" src="~/img/cropped-2Jours-Logo-vierkant-192x192.jpg" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">Dashboard</h6>
            <small>@ViewData["FullName"]</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Gebruikers</h6>
        @if (Model.Any())
        {
            @foreach (var user in Model)
            {
                <div class="media text-muted pt-3">
                    <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="~/img/Sample_User_Icon.png" data-holder-rendered="true" style="width: 32px; height: 32px;">
                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            <strong class="text-gray-dark">@user.FirstName @user.LastName</strong>
                            <a href="#">Follow</a>
                        </div>
                        <span class="d-block">Username: @Html.DisplayFor(modelItem => user.UserName)</span>
                    </div>
                </div>
            }
        } else
        {
            <div class="media text-muted pt-3">
                <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" src="~/img/Sample_User_Icon.png" data-holder-rendered="true" style="width: 32px; height: 32px;">
                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <strong class="text-gray-dark"> Er zijn geen gebruikers gevonden</strong>
                        <a href="#">Follow</a>
                    </div>
                    <span class="d-block"></span>
                </div>
            </div>
        }

      
        
    </div>
</main>
